@font-face{font-family:'Camphor Pro';src:url('../font/CamphorPro-Regular.otf');font-weight:normal}
@font-face{font-family:'Camphor Pro Bold';src:url('../font/CamphorPro-Bold.otf');font-weight:bold}
@font-face{font-family:'Camphor Pro Heavy';src:url('../font/CamphorPro-Heavy.otf');font-weight:900}
@font-face{font-family:'Camphor Pro Light';src:url('../font/CamphorPro-Light.otf');font-weight:300}
@font-face{font-family:'Camphor Pro Medium';src:url('../font/CamphorPro-Medium.otf');font-weight:500}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
body, html {
    min-width: 320px;
	box-sizing: border-box;
	font-family: "Camphor Pro",sans-serif;
	min-height: 750px;
}
html {
    font-size: 16px;
    -webkit-tap-highlight-color: transparent;
}
.left{
	float:left;
}
.right{
	float:right;
}
.container{
	margin-left: auto;
	margin-right: auto;
	padding-left: 4px;
	padding-right: 4px;
	color:#666;
	box-sizing: border-box;
}
.container::after {
    content: "";
    display: table;
    clear: both;
}
.iconfont.icon-sm {
    font-size: 20px!important;
}
.uppercase{
  text-transform: uppercase;
}
.wu-font{
  font-family: Arial,Roboto,"-apple-system",Helvetica,sans-serif;
}

ul li{
   list-style: none;
}
a{
   text-decoration: none;
}
a{
	color: inherit;
}
a:hover{
   cursor: pointer;
}
a:focus, a:hover {
    text-decoration: none;
}
a:focus {
    outline: 0;
}
.half{
	width: 50%;
	box-sizing: border-box;
}
label{
	display: inline-block;
}
.form-label {
    color: #666;
    font-family: Arial,Roboto,"-apple-system",Helvetica,sans-serif;
    font-size: .9rem;
    line-height: 20px;
    margin-bottom: 0;
	font-weight: bold;
}
.form-input{
	display: block;
	width: 100%;
	padding: 8px 8px;
	font-size: .9rem;
	line-height: 1.5;
	color: #666;
	background-color: #d9edf7;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 3px;
	color: #333;
	box-shadow: none;
	font-family: Arial,Roboto,"-apple-system",Helvetica,sans-serif;
	margin-bottom: 18px;
	margin-top: 6px;
	box-sizing: border-box;
	height: 40px;
}
.form-input:focus {
    background-color: #fff;
	border-color: #939393;
	outline: 0;
}
.row {
    margin-right: 0px;
    margin-left: 0px;
}
.row::after {
    content: "";
    display: table;
    clear: both;
}

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 8px 8px;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
}
hr {
    border: 0;
    border-bottom: solid 1px rgba(0,0,0,.1);
    clear: both;
    height: 0;
    margin: 0;
	box-sizing: content-box;
}
.col3{
	width:33.33333%;
	padding-left: 4px;
	padding-right: 4px;
	box-sizing: border-box;
}
.sprite {
    display: inline-block;
}

input[type=checkbox]:checked{
	background: #d9d9d9;
	border: 1px solid #d9d9d9;
	border-radius: 3px;
}

.wrong_msg{
	color: #f42424;
}

.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
    outline: none;
    outline-offset: -2px;
}
button:focus {
    border-color: transparent;
    box-shadow: none;
    outline: 0;
}

.dark-backdrop{
	background-color: #212121;
	bottom: 0;
	height: 100%;
	opacity: .7;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 999999;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 4px;
    padding-left: 4px;
}

/* swiperç®­å¤´ä¸èƒ½æ¨ªç§»åˆ™éšè— */
.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled{
	display: none;
}

/* swiperæ»‘åŠ¨æŒ‰é’®æ ·å¼ */
.slide-next , .slide-prev{
	border-radius: 100px;
	cursor: pointer;
	height: 50px;
	max-height: 100%;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	width: 50px;
	overflow: hidden;
	z-index: 10;
}
.slide-next:focus , .slide-prev:focus{
	outline: 0;
}
/* .slide-next::after, .slide-prev::after {
    color: #788195;
    display: block;
    font-family: "Linio Icon Set";
    font-size: 30px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-weight: 700;
    height: 50px;
    position: absolute;
    text-rendering: optimizeLegibility;
    top: 15px;
    -webkit-transform: translateY(-30%);
    transform: translateY(-30%);
    width: 50px;
	text-align: center;
	line-height: 50px;
	background-size: 62px;
	background-repeat: no-repeat;
	background-position: center;
} */
.slide-prev{
	left: 12px;
	right: auto;
	background-image:url(../images/icons/left_icon.png);
	background-size: contain;
}
.slide-next {
    right: 12px;
    left: auto;
	background-image:url(../images/icons/right_icon.png);
	background-size: contain;
}
.banner-prev.slide-prev {
    left: 12px;
    right: auto;
	background-image:url(../images/icons/left_icon.png);
}
.banner-next.slide-next {
    right: 12px;
    left: auto;
	background-image:url(../images/icons/right_icon.png)
}

.pointerhover:hover{
	cursor: pointer;
}


/* å¼¹å‡ºæ¡† */
#popupBox .modal-body{
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
#popupBox .error_icon{
	width: 50px;
	height: 50px;
	background-image: url(../images/icons/icon4.png);
	background-repeat: no-repeat;
	background-position: -183px 0px;
	background-size: cover;
}
#popupBox .success_icon{
	width: 50px;
	height: 50px;
	background-image: url(../images/icons/icon4.png);
	background-repeat: no-repeat;
	background-position: 1px 0px;
	background-size: cover;
}
#popupBox .warn_icon{
	width: 50px;
	height: 50px;
	background-image: url(../images/icons/icon4.png);
	background-repeat: no-repeat;
	background-position: -60px 0px;
	background-size: cover;
}
#popupBox .modal-body .bodyCon{
	padding: 0px 10px;
	width: 80%;
}
#popupBox #popupBtn{
	display: inline-block;
	font-weight: 400;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	user-select: none;
	border: 1px solid transparent;
	padding: 8px 8px;
	font-size: 1rem;
	line-height: 1.5;
	border-radius: .25rem;
	color: #fff;
	background-color: #f50;
}
#popupBox #popupBtn:hover{
	background-color: #ef5203;
}

.swiper-container img{
    width: 100%;
    display:block;
}

/* checkboxæ ·å¼ */
input[type=checkbox] {
    width: 20px;
    height: 20px;
    appearance: none;
    position: relative;
    margin: 0px;
}
input[type=checkbox]:focus,input[type=checkbox]:active {
    border: 0px;
    outline: none;
}
input[type=checkbox]:before {
    content: '';
    width: 20px;
    height: 20px;
    border: 1px solid #d9d9d9;
    display: inline-block;
    vertical-align: middle;
	background: #d9d9d9;
}
input[type=checkbox]:checked:before {
    content: '';
    width: 20px;
    height: 20px;
    border: 1px solid #364545 ;
    background: #364545;
    display: inline-block;
    vertical-align: middle;
}
input[type=checkbox]:checked:after {
    content: '';
    width: 10px;
    height: 5px;
    border: 2px solid white;
    border-top: transparent;
    border-right: transparent;
    text-align: center;
    display: block;
    position: absolute;
    top: 6px;
    left: 5px;
    vertical-align: middle;
    transform: rotate(-45deg);
}

.menu_tabs .tabItem{
		position: relative;
	}
	.menu_tabs .tabItem:hover .dropdownMenu{
		visibility: visible;
	}
	.menu_tabs .dropdownMenu{
		background-color: #fff;
		position: absolute;
		width: 210px;
		transform: translateX(-37%);
		box-shadow: 1px 2px 2px 1px #f0f0f0;
		margin-top: 16px;
		visibility: hidden;
	}
	.menu_tabs .dropdownMenu:before{
		content: "";
		width: 0px;
		height: 0px;
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-bottom: 10px solid #fff;
		position: absolute;
		top: -10px;
		left: 101px;
	}
	.menu_tabs .dropdownMenu:after{
		content: "";
		width: 100%;
		height: 100%;
		position: absolute;
		top: -28px;
		left: 0px;
		z-index: -1;
	}
	.menu_tabs .dropdownMenu .dropItem{
		width: 210px;
		height: 56px;
		line-height: 56px;
		padding-left: 1.6rem;
		font-size: 1rem;
		color: #333333;
		border-bottom: 1px solid #D2D2D2;
		box-sizing: border-box;
	}
	.menu_tabs .dropdownMenu .dropItem:last-child{
		border-bottom:0px;
	}
	.login_icons .icon:hover .dropdownMenu{
		visibility: visible;
	}
	.login_icons .icon .dropdownMenu{
		background-color: #fff;
		position: absolute;
		width: 210px;
		transform: translateX(-99px);
		box-shadow: 1px 2px 2px 3px #f0f0f0;
		margin-top: 8px;
		visibility: hidden;
	} 	
	.login_icons .icon .dropdownMenu:after{
		content: "";
		width: 0px;
		height: 0px;
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-bottom: 10px solid #fff;
		position: absolute;
		top: -10px;
		left: 101px;
	}
	.login_icons .icon .dropdownMenu:before{
		content: "";
		width: 100%;
		height: 100%;
		position: absolute;
		top: -28px;
		left: 0px;
		z-index: -1;
	}
	.login_icons .icon .dropdownMenu .dropItem{
		width: 210px;
		height: 56px;
		line-height: 56px;
		padding-left: 1.6rem;
		font-size: 1rem;
		color: #333333;
		border-bottom: 1px solid #D2D2D2;
		box-sizing: border-box;
	}
	.dropItem:hover{
		background-color: #364545;
		color: #fff!important;
	}
	.login_icons .icon .dropdownMenu .dropItem:last-child{
		border-bottom:0px;
	}
	
	
	
	/* æ‰‹æœºç«¯ */
@media(min-width: 992px){
	.pc_header{
		display: block;
	}
	.mobile_header{
		display: none;
	}
}
@media (max-width: 992px){
	.mobile_header{
		position: fixed;
		top: 0px;
		width: 100%;
		z-index: 999;
	}
	.mobile_header .top_header{
		display: flex;
		align-items: center;
		height: 56px;
		justify-content: space-between;
		padding: 15px;
	}
	.mobile_header.hasbg .bg{
		position: absolute;
		width: 100%;
		height: 100vh;
		background-color: #000;
		opacity: 0.7;
	}
	.pc_header{
		display: none;
	}
	.mobile_header .top_header.kind2{
		background-color: #fff;
	}
	.mobile_header .top_header>div{
		display: flex;
		align-items: center;
	}
	.mobile_header .logo_img{
		width: 37px;
		height: 28px;
	}
	.mobile_header img{
		width: 100%;
	}
	.mobile_header .icon_img{
		width: 18px;
		height: 18px;
	}
	.mobile_header .search_mobile_icon,.mobile_header .user_center_icon{
		margin-left: 16px;
	}
	.mobile_header .collect_icon{
		margin-right: 16px;
	}
	.mobile_search_popup{
		padding: 18px 16px;
		background-color: #fff;
		transition: all 300ms;
		position: absolute;
		opacity: 0;
		top: -100px;
		width: 100%;
		border-top: 1px solid #ccc;
		z-index:9;
	}
	.mobile_search_popup.popup{
		opacity: 1;
		top: 56px;
	}
	.mobile_search_popup .search_input{
		position: relative;
	}
	.search_input input{
		height: 28px;
		background: #F4F4F4;
		width: 100%;
		outline: none;
		border: 0px;
		font-size: 15px;
		padding-left: 32px;
	}
	.search_input #search_h{
		width: 16px;
		height: 16px;
		position: absolute;
		left:9px;
		top: 6px;
	}
	#mobile_header_popup,#mobile_usercenter_popup{
		z-index: 999;
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0px;
	}
	#mobile_header_popup .popup_bg,#mobile_usercenter_popup .popup_bg{
		position: absolute;
		width: 100%;
		background-color: #000;
		opacity: 0.5;
		height: 100%;
	}
	#mobile_header_popup .popup_con,#mobile_usercenter_popup .popup_con{
		height: 100vh;
		width: 80%;
		background-color: #fff;
		position: absolute;
		padding: 19px 16px;
	}
	#mobile_header_popup .top_popup,#mobile_usercenter_popup .top_popup{
		height: auto;
	}
	#mobile_header_popup .top_popup .cancel_icon,#mobile_usercenter_popup .top_popup .cancel_icon{
		width: 16px;
		height: 16px;
	}
	#mobile_header_popup .top_popup .cancel_icon img,#mobile_usercenter_popup .top_popup .cancel_icon img{
		width: 100%;
		height: 100%;
	}
	#mobile_header_popup .category_list{
		border-bottom: 1px solid #000;
	}
	#mobile_usercenter_popup .category_list{
	    border-bottom: 0px;
	    margin-bottom: 20px;
	}
	#mobile_header_popup .category_list .category_item,#mobile_usercenter_popup .category_list .category_item{
		line-height: 56px;
	}
	#mobile_header_popup .parent_cate>.title,#mobile_usercenter_popup .parent_cate>.title{
		font-size: 15px;
		font-family: PingFangSC-Regular, PingFang SC;
		font-weight: 800;
		color: #333333;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	#mobile_header_popup .son_cate,#mobile_usercenter_popup .son_cate{
		font-size: 13px;
		font-family: PingFangSC-Regular, PingFang SC;
		font-weight: 400;
		color: #333333;
		margin-left: 16px;
		overflow: auto;
        max-height: 400px;
	}
	#mobile_header_popup .son_cate>div,#mobile_usercenter_popup .son_cate>div{
		height: 56px;
		line-height: 56px;
	}
	#mobile_usercenter_popup .son_cate>div.active{
	    color: #364545;
        font-weight: 800;
        background: #DFE1E1;
	}
	#mobile_header_popup .user_list{
		margin-top: 10px;
	}
	#mobile_usercenter_popup .avator .avator_img{
	    padding:0px;
	    text-align: center;
	}
	#mobile_usercenter_popup .avator .user_name{
	    text-align: center;
	    color: #333;
	}
}	
 .no_list .no_goods_img{
     width: 25rem;
     height: 21.73rem;
     margin: 0 auto;
     margin-top: 8.73rem;
 }
 .no_list .title{
  height: 1.67rem;
  font-size: 1.2rem;
  font-family: PingFangSC-Semibold, PingFang SC;
  font-weight: 600;
  color: #364545;
  line-height: 25px;
  margin: 0 auto;
  margin-top: 2.67rem;
  text-align: center;
 }
 .no_list .des{
  width: 20rem;
  height: 2.8rem;
  font-size: 1rem;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #999999;
  margin: 0 auto;
  text-align: center;
  margin-top: 8px;
  margin-bottom: 12.67rem;
 }
 @media(max-width: 992px){
     .no_list .no_goods_img img{
         width: 100%;
     }
 }
 .zh_goods img{
    width: 2.27rem;
    height: 2.27rem;
    max-width: 34px;
    margin-left: -1.1rem;
    border-radius: 1.13rem;
    border: 1px solid #d1d1d1;
 }
.zh_goods img:first-child{
    margin-left: 0px;
}
.shoppingCar .table_body .pro_info{
    width: 80%;
    min-height: 80px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
 