.breadCon{
	
}
.filterCategory{
	width: 334px;
	height: 47px;
	background: #F8F8F8;
	border-radius: 6px;
	padding-right: 10px;
	float: right;
	margin-top: 19px;
	margin-bottom: 18px;
}
.filterCategory select{
	background-color: transparent;
	outline: none;
	border: none;
	width: 100%;
	height: 100%;
	padding: 0 24px;
}
.breadCon .categoryBreads{
	margin-top: 32px;
	float: left;
}
.pifa_products .pro_img{
	width: 80px;
	height: 80px;
	aspect-ratio: 1/1;
	object-fit: contain;
}
.pifa_products .pro_img img{
	width: 100%;
	aspect-ratio: 1/1;
	object-fit: contain;
}
.pifa_tables table{
	width: 100%;
}
.pifa_tables table th{
	height: 52px;
	line-height: 52px;
	font-weight: 400;
	background-color: #F4F4F4;
	padding: 5px 10px;
	font-size: 14px;
}
.pifa_tables table tbody td{
	max-width: 250px;
	padding: 12px 10px;
	vertical-align: middle
}
.pifa_tables table tbody tr{
	border-bottom: 1px solid #F4F4F4;
}
.addNumberTips{
	font-weight: 400;
	font-size: 14px;
	color: #F42F54;
	line-height: 20px;
	margin-top: 8px;
}
.countOperate .addCar{
	width: 72px;
	height: 42px;
	line-height: 42px;
	background: #3B4656;
	border-radius: 4px;
	text-align: center;
	color: #fff;
	cursor: pointer;
	border: 1px solid #DADDE0;
}
.countOperate .operateIcon{
	width: 42px;
	height: 42px;
	cursor: pointer;
}
.countOperate .operateInput{
	width: 70px;
	height: 42px;
	line-height: 42px;
	background: #FFFFFF;
	border-radius: 4px;
	border: 1px solid #DADDE0;
	overflow: hidden;
}
.countOperate .operateInput input[type="number"]{
	text-align: center;
	width: 100%;
	outline: none;
	border: 0;
	background-color: transparent;
	 -moz-appearance: textfield;
	-webkit-appearance: textfield;
	appearance: textfield;
}
/* 针对基于WebKit的浏览器 */
.countOperate .operateInput input[type="number"]::-webkit-outer-spin-button,
.countOperate .operateInput input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none; /* Chrome, Safari, Edge, Opera */
    margin: 0; /* 移除默认的外边距 */
}
.countOperate .counterCon{
	display: flex;
	align-items: center;
	gap: 8px;
}
.countOperate{
	display: flex;
	align-items: center;
	gap: 16px;
}
.countOperate .operateIcon.operateAdd{
	background-image: url('../images/pifa/icons/add.png');
	background-size: contain;
	background-position: center;
}
.countOperate .operateIcon.operateDec{
	background-image: url('../images/pifa/icons/dadd.png');
	background-size: contain;
	background-position: center;
}
.paginaition{
	margin-top: 24px;
}

.shoppingCar{
	width: 55px;
	height: 162px;
	background: #FFFFFF;
	box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.08);
	border-radius: 100px;
	position: fixed;
	right: 74px;
	bottom: 20%;
	top: auto;
	text-align: center;
	border-radius: 100px;
	cursor: pointer;
}
.shoppingCar .shoppingCar_icon{
	position: relative;
	width: 20px;
	height: 20px;
	margin: 0 auto;
	margin-top: 20px;
}
.shoppingCar .shopNumber{
	width: 18px;
	height: 18px;
	background: #F42F54;
	text-align: center;
	line-height: 18px;
	position: absolute;
	color: #fff;
	border-radius: 50%;
	font-size: 12px;
	top: -9px;
	left: 9px;
}
.shoppingCar .shoppingCar_text{
	width: 16px;
	margin: 0 auto;
	line-height: 18px;
	margin-top: 10px;
}



/* 购物车页面 */
.shopCarList{
	background-color: #f9f9f9;
}
.pifa_products{
	display: flex;
	gap: 32px;
	justify-content: space-between;
	align-items: flex-start;
	margin-top: 32px;
}
.pifa_products  .car_products_list{
	flex: 1;
	font-size: 14px;
}
.pifa_products .car_summary{
	background-color: #fff;
	border-radius: 8px;
	box-sizing: border-box;
	padding: 24px;
	width: 316px;
	box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.08);
}
.sumary_detail{
	margin-top: 24px;
}
.sumary_detail .sumary_detail_item{
	display: flex;
	justify-content: space-between;
	font-size: 14px;
	color: #333;
	margin-top: 16px;
}
.sumary_detail .sumary_detail_item.totalItem{
	color: #F42F54;
	font-weight: 600;
}
.submitOrder{
	height: 48px;
	line-height: 48px;
	text-align: center;
	background: #3B4656;
	border-radius: 6px;
	color: #fff;
	margin-top: 30px;
	cursor: pointer;
}
.pifa_products .car_summary .title{
	font-size: 18px;
	color: #333333;
	font-weight: 600;
}
.shop_car_list .table_header{
	display: flex;
	align-items: center;
	height: 52px;
	line-height: 52px;
	width: 100%;
	background-color: #fff;
}
.shop_car_list .table_row{
	padding:16px;
	border-radius: 8px;
	background-color: #fff;
	box-sizing: border-box;
	margin-bottom: 12px;
}
.shop_detail{
	display: flex;
	align-items: center;
	border-bottom: 1px solid #EDEDED;
	padding-bottom: 23px;
}
.shop_detail .shop_img{
	width: 24px;
	height: 24px;
	aspect-ratio: 1 / 1;
	object-fit: cover;
	margin-left: 16px;
	border-radius: 50%;
	overflow: hidden;
}
.shop_detail .shop_img img{
	aspect-ratio: 1 / 1;
	object-fit: cover;
	width: 100%;
}
.shop_detail .shop_name{
	font-size: 15px;
	color: #333333;
	margin-left: 8px;
}
.shop_product_list{
	
}
.shop_product_list .shop_product_list_item{
	display: flex;
	align-items: center;
	padding: 17px 0;
}
.shop_product_list .productImg{
	width: 80px;
	height: 80px;
	aspect-ratio: 1 / 1;
	position: relative;
}
.shop_product_list .productImg img{
	width: 100%;
	aspect-ratio: 1 / 1;
	object-fit: cover;
}
.car_products_list .productImg{
	width: 100px;
	padding: 0 10px;
	position: relative;
}
.car_products_list .skuTd{
	width: 100px;
	padding: 0 10px;
}
.car_products_list .proTd{
	width: 250px;
	padding: 0 10px;
	color: #333;
	overflow: hidden;
	font-size: 14px;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	word-wrap: break-word;
	word-break: break-all;
}
.car_products_list .priceTd,.car_products_list .numberTd{
	width: 100px;
	padding: 0 10px;
}
.car_products_list  .operateTd{
	width: 250px;
	padding: 0 10px;
}
.car_products_list  .shop_product_list .deleteTd{
	font-size: 14px;
	color: #165BD5;
	cursor: pointer;
}

/* 批发订单确认 */
.card{
	background-color: #fff;
	border-radius: 8px;
	padding: 24px;
	box-sizing: border-box;
	margin-bottom: 24px;
}
.card .title{
	font-weight: 600;
	font-size: 18px;
	color: #333333;
}
.addressList{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 24px;
	margin-top: 24px;
}
.addressList .addressItem{
	background-image: url(../images/addressBg.png);
	background-size: cover;
	width: 318px;
	height: 116px;
	cursor: pointer;
	padding: 16px;
	box-sizing: border-box;
}
.addressList .addAddress{
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 16px;
	background-image: url(../images/addressBg.png);
	background-size: cover;
	width: 318px;
	height: 116px;
	cursor: pointer;
}
.addressList .addressItem.cur{
	border: 1px solid #F42F54;
	border-style: dashed;
}
.addressList .TompAccept{
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 16px;
	font-weight: 600;
	color: #F42F54;
}
.addressList .addressItem .kehuName{
	display: flex;
	justify-content: space-between;
}
.addressList .addressItem .kehuName .name{
	font-weight: 600;
	font-size: 16px;
	color: #333333;
}
.addressList .addressItem .kehuName .tel{
	font-size: 14px;
	color: #333333;
}
.addressList .addressItem .kehuAddress{
	margin-top: 13px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	word-wrap: break-word;
	word-break: break-all;
}

/* 订单详情 */
.orderDetail .tableHead{
	display: flex;
	align-items: center;
}
.orderDetail .shopProducts{
	margin-top: 8px;
	margin-bottom: 24px;
	border: 1px solid #F4F4F4;
	border-radius: 6px;
}
.orderDetail .shopProducts .shopDetail{
	height: 52px;
	background-color: #F4F4F4;
	padding: 14px 16px;
	box-sizing: border-box;
	display: flex;
	gap: 8px;
	align-items: center;
} 
.orderDetail .shopProducts .shopDetail .shop_img{
	width: 24px;
	height: 24px;
	border-radius: 50%;
	overflow: hidden;
}
.orderDetail .shopProducts .shopDetail .shop_img img{
	width: 100%;
	aspect-ratio: 1/1;
	object-fit: cover;
}
.shop_product_list_item .productInform{
	display: flex;
	align-items: center;
	gap: 8px;
}
.shop_product_list_item .product_name{
	font-weight: 600;
	font-size: 16px;
	color: #333333;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-line-clamp: 2;
	word-wrap: break-word;
	word-break: break-all;
}
.online{
	width: 33px;
	height: 17px;
	background: #03BD78;
	border-radius: 2px;
	color: #fff;
	font-size: 12px;
	display: inline-block;
	text-align: center;
	line-height: 17px;
}
.orderDetail .proTd{
	width: 50%;
}
.orderDetail .proNumTd,.orderDetail .priceTd{
	width: 25%;
}
.product_name_props .product_props{
	color: #999;
	font-size: 14px;
	margin-top: 4px;
}
.orderDetail .proNumTd .per_price{
	font-size: 16px;
	color: #333333;
	width: 150px;
	text-align: center;
}
.orderDetail .proNumTd  .pro_num{
	font-size: 16px;
	color: #999999;
	margin-top: 4px;
	width: 150px;
	text-align: center;
}
.orderDetail .priceTd .total_price{
	font-weight: 800;
	font-size: 18px;
	color: #F42F54;
}

/* 修改地址弹出框 */
.popContent{
	position: fixed;
	top: 0px;
	right: 0px;
	width: 100%;
	z-index: 999;
}
.popContent .bgCon{
	background-color: #000;
	opacity: 0.5;
	width: 100%;
	height: 100vh;
	position: absolute;
	display: none;
} 
.popContent.popup .bgCon {
    display: block;
}
.popContent .carCon{
    width: 836px;
    background-color: #fff;
    position: absolute;
    top: 0;
    right: 0px;
    height: 100vh;
    padding: 56px;
    transform: translateX(900px);
    visibility: hidden;
}
.popContent.popup .carCon {
    transform: translateX(0px);
    visibility: visible;
    transition: all 300ms;
}
.popContent .carCon .topCon{
	height: initial;
	line-height: initial;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.popContent .carCon .topCon .title{
	font-size: 1.6rem;
	font-family: PingFangSC-Semibold, PingFang SC;
	font-weight: 600;
	color: #333333;
}

.submitAddress{
	display: flex;
	column-gap: 56px;
	row-gap: 16px;
	flex-wrap: wrap;
	margin-top: 63px;
}
.submitAddress .addressEle{
	width: calc(50% - 28px);
}
.submitAddress .addressEle .labelName span{
	font-weight: 500;
	font-size: 15px;
	color: #333333;
}
.submitAddress .addressEle .labelName span.xing{
	font-weight: 500;
	font-size: 15px;
	color: #F42F54;
}
.submitAddress .addressEleInput{
	width: 100%;
	height: 47px;
	line-height: 47px;
	background: #F8F8F8;
	margin-top: 12px;
}
.submitAddress .addressEleInput input{
	border: 0;
	outline: none;
	width: 100%;
	background-color: transparent;
	padding: 0 16px;
}
.sumbitAddressBtn{
	width: 264px;
	height: 76px;
	background: #3B4656;
	border-radius: 8px;
	text-align: center;
	line-height: 76px;
	color: #fff;
	cursor: pointer;
	margin: 0 0 0 auto;
	box-sizing: border-box;
}