.breadCon{
	
}
.filterCategory{
	width: 334px;
	height: 47px;
	background: #F8F8F8;
	border-radius: 6px;
	padding-right: 10px;
	float: right;
	margin-top: 19px;
	margin-bottom: 18px;
}
.filterCategory select{
	background-color: transparent;
	outline: none;
	border: none;
	width: 100%;
	height: 100%;
	padding: 0 24px;
}
.breadCon .categoryBreads{
	margin-top: 32px;
	float: left;
}
.pifa_products .pro_img{
	width: 80px;
	height: 80px;
	aspect-ratio: 1/1;
	object-fit: contain;
}
.pifa_products .pro_img img{
	width: 100%;
	aspect-ratio: 1/1;
	object-fit: contain;
}
.pifa_tables table{
	width: 100%;
}
.pifa_tables table th{
	height: 52px;
	line-height: 52px;
	font-weight: 400;
	background-color: #F4F4F4;
	padding: 5px 10px;
	font-size: 14px;
}
.pifa_tables table tbody td{
	max-width: 250px;
	padding: 12px 10px;
	vertical-align: middle
}
.pifa_tables table tbody tr{
	border-bottom: 1px solid #F4F4F4;
}
.addNumberTips{
	font-weight: 400;
	font-size: 14px;
	color: #F42F54;
	line-height: 20px;
	margin-top: 8px;
}
.countOperate .addCar{
	width: 72px;
	height: 42px;
	line-height: 42px;
	background: #3B4656;
	border-radius: 4px;
	text-align: center;
	color: #fff;
	cursor: pointer;
	border: 1px solid #DADDE0;
}
.countOperate .operateIcon{
	width: 42px;
	height: 42px;
	cursor: pointer;
}
.countOperate .operateInput{
	width: 70px;
	height: 42px;
	line-height: 42px;
	background: #FFFFFF;
	border-radius: 4px;
	border: 1px solid #DADDE0;
	overflow: hidden;
}
.countOperate .operateInput input[type="number"]{
	text-align: center;
	width: 100%;
	outline: none;
	border: 0;
	background-color: transparent;
	 -moz-appearance: textfield;
	-webkit-appearance: textfield;
	appearance: textfield;
}
/* 针对基于WebKit的浏览器 */
.countOperate .operateInput input[type="number"]::-webkit-outer-spin-button,
.countOperate .operateInput input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none; /* Chrome, Safari, Edge, Opera */
    margin: 0; /* 移除默认的外边距 */
}
.countOperate .counterCon{
	display: flex;
	align-items: center;
	gap: 8px;
}
.countOperate{
	display: flex;
	align-items: center;
	gap: 16px;
}
.countOperate .operateIcon.operateAdd{
	background-image: url('../images/pifa/icons/add.png');
	background-size: contain;
	background-position: center;
}
.countOperate .operateIcon.operateDec{
	background-image: url('../images/pifa/icons/dadd.png');
	background-size: contain;
	background-position: center;
}
.paginaition{
	margin-top: 24px;
}

.shoppingCar{
	width: 55px;
	height: 162px;
	background: #FFFFFF;
	box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.08);
	border-radius: 100px;
	position: fixed;
	right: 74px;
	bottom: 20%;
	top: auto;
	text-align: center;
	border-radius: 100px;
	cursor: pointer;
}
.shoppingCar .shoppingCar_icon{
	position: relative;
	width: 20px;
	height: 20px;
	margin: 0 auto;
	margin-top: 20px;
}
.shoppingCar .shopNumber{
	width: 18px;
	height: 18px;
	background: #F42F54;
	text-align: center;
	line-height: 18px;
	position: absolute;
	color: #fff;
	border-radius: 50%;
	font-size: 12px;
	top: -9px;
	left: 9px;
}
.shoppingCar .shoppingCar_text{
	width: 16px;
	margin: 0 auto;
	line-height: 18px;
	margin-top: 10px;
}



/* 购物车页面 */
.shopCarList{
	background-color: #f9f9f9;
}
.pifa_products{
	display: flex;
	gap: 32px;
	justify-content: space-between;
	align-items: flex-start;
	margin-top: 32px;
}
.pifa_products  .car_products_list{
	flex: 1;
}
.pifa_products .car_summary{
	background-color: #fff;
	border-radius: 8px;
	box-sizing: border-box;
	padding: 24px;
	width: 316px;
	box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.08);
}
.sumary_detail{
	margin-top: 24px;
}
.sumary_detail .sumary_detail_item{
	display: flex;
	justify-content: space-between;
	font-size: 14px;
	color: #333;
	margin-top: 16px;
}
.sumary_detail .sumary_detail_item.totalItem{
	color: #F42F54;
	font-weight: 600;
}
.submitOrder{
	height: 48px;
	line-height: 48px;
	text-align: center;
	background: #3B4656;
	border-radius: 6px;
	color: #fff;
	margin-top: 30px;
	cursor: pointer;
}
.pifa_products .car_summary .title{
	font-size: 18px;
	color: #333333;
	font-weight: 600;
}
.shop_car_list .table_header{
	display: flex;
	align-items: center;
	height: 52px;
	line-height: 52px;
	width: 100%;
	background-color: #fff;
}
.shop_car_list .table_row{
	padding:16px;
	border-radius: 8px;
	background-color: #fff;
	box-sizing: border-box;
	margin-bottom: 12px;
}
.shop_detail{
	display: flex;
	align-items: center;
	border-bottom: 1px solid #EDEDED;
	padding-bottom: 23px;
}
.shop_detail .shop_img{
	width: 24px;
	height: 24px;
	aspect-ratio: 1 / 1;
	object-fit: cover;
	margin-left: 16px;
	border-radius: 50%;
	overflow: hidden;
}
.shop_detail .shop_img img{
	aspect-ratio: 1 / 1;
	object-fit: cover;
	width: 100%;
}
.shop_detail .shop_name{
	font-size: 15px;
	color: #333333;
	margin-left: 8px;
}
.shop_product_list{
	display: flex;
	align-items: center;
	padding: 17px 0;
}
.shop_product_list .productImg{
	width: 80px;
	height: 80px;
	aspect-ratio: 1 / 1;
}
.shop_product_list .productImg img{
	width: 100%;
	aspect-ratio: 1 / 1;
	object-fit: cover;
}