img{
	display: block;
}
.topCon{
	height: 104px;
	line-height: 104px;
	box-sizing: border-box;
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
}
.topCon .logo{
	font-size: 40px;
	color: #333333;
	line-height: 46px;
	letter-spacing: 2px;
	text-align: left;
	font-style: normal;
}
.userIconsgroups{
	display: flex;
	align-items: center;
	justify-content: end;
	gap: 39px;
}
.userIconsgroups .userIcon{
	width: 40px;
	height: 40px;
	cursor: pointer;
}
.userIconsgroups .userIcon img{
	width: 100%;
}

.searchCon{
	height: 92px;
	line-height: 92px;
	background-color: #3B4656;
}
.searchCon .searchInner{
	display: grid;
	grid-template-columns: 231px 1fr 278px;
	justify-content: space-between;
	align-items: center;
}
.categoryIcon{
	display: flex;
	align-items: center;
}
.cateIcon{
	width: 30px;
	height: 28px;
}
.categoryTxt{
	font-size: 1.5rem;
	color: #fff;
	margin-left: 24px;
	display: block;
}
.searchInput .searchEle{
	position: relative;
	width: 100%;
	max-width: 893px;
	height: 60px;
	background: #FFFFFF;
	border-radius: 79px;
	overflow: hidden;
	line-height: 1;
}
.searchInput .searchEle .labelName{
	position: absolute;
	font-weight: 400;
	font-size: 1rem;
	color: #999999;
	left: 32px;
	top: 0px;
	height: 100%;
	line-height: 60px;
}
.searchInput .searchEle .searchName{
	width: 100%;
	outline: none;
	border: 0;
	padding: 0 32px;
	height: 60px;
	font-size: 20px;
	z-index: 1;
	position: relative;
	background: transparent;
}

.searchEle:has(.searchName:focus)>label{
	display: none;
}
.searchEle:has(.searchName:required:valid)>label{
	display: none;
}
.searchEle:has(.searchName:required:empty:focus)>label{
	display: none;
}


.seachIconEle{
	position: absolute;
	width: 18px;
	height: 18px;
	right: 32px;
	top: 21px;
}
.searchInner .balance{
	display: flex;
	align-items: center;
	justify-content: end;
	gap: 10px;
}
.balance_value{
	font-size: 1.5rem;
	color: #fff;
	display: flex;
	gap: 5px;
}

@media(max-width: 992px){
	.searchCon .searchInner{
		grid-template-columns: 1fr 2fr 1fr;
	}
	.categoryTxt{
		display: none;
	}
}
