/* æœªç™»å½•å¼¹çª— */
#noLogin{
	position: fixed;
	top: 0px;
	right: 0px;
	width: 100%;
	z-index: 999;
}
.noLogin.popup .bgCon{
	display: block;
}
.noLogin.popup .loginCon{
	transform: translateX(0px);
	transition: all 300ms;
}
.noLogin .loginCon{
	width: 44rem;
	background-color: #fff;
	position: absolute;
	top: 0;
	right: 0px;
	height: 100vh;
	padding: 3.7rem;
	transform: translateX(44rem);
}
.noLogin .loginCon .topCon{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.noLogin .loginCon .deleteIcon{
	cursor: pointer;
}

.noLogin .loginCon .topCon .title{
	font-size: 1.6rem;
	font-family: CamphorPro-Bold, CamphorPro;
	font-weight: bold;
	color: #333333;
	line-height: 29px;
}
.noLogin .loginCon .centerCon{
	margin-top: 3.67rem;
}
.noLogin .loginCon  .title{
	font-size: 1rem;
	font-family: CamphorPro-Bold, CamphorPro;
	font-weight: bold;
	color: #333333;
	line-height: 1.2rem;
}
.noLogin  .centerCon .formLabel{
	height: 1rem;
	font-size: 1rem;
	font-family: CamphorPro-Bold, CamphorPro;
	font-weight: bold;
	color: #333333;
	line-height: 1rem;
	margin-top: 2rem;
}
.noLogin .formInput input{
	height: 4rem;
	background-color: #F4F4F4;
	margin-top: 1.26rem;
	width: 100%;
	border: 0px;
	outline: none;
	padding-left: 1rem;
}
.noLogin .centerCon .forgetPwd{
	font-size: 1rem;
	font-family: CamphorPro-Regular, CamphorPro;
	font-weight: 400;
	color: #999999;
	line-height: 1.2rem;
	margin-top: 1.6rem;
	text-align: right;
}
.noLogin .centerCon .loginIn{
	height: 5.1rem;
	background: #364545;
	line-height: 5.1rem;
	text-align: center;
	color: #fff;
	width: 100%;
	padding: 0px;
	margin-top: 4.3rem;
}
.noLogin .centerCon .sperete{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin:2.5rem auto;
}
.noLogin .centerCon .sperete .line{
	width: 33%;
}
.noLogin .centerCon .register{
	height: 5.1rem;
	background: #855A5B;;
	line-height: 5.1rem;
	text-align: center;
	color: #fff;
	width: 100%;
	padding: 0px;
}

/* å¤´éƒ¨è´­ç‰©è½¦å¼¹å‡ºæ¡† */
body.guding{
	overflow: hidden;
}

.shoppingCar{
	position: fixed;
	top: 0px;
	right: 0px;
	width: 100%;
	z-index: 999;
}
.shoppingCar .bgCon,.noLogin .bgCon{
	background-color:#000;
	opacity: 0.5;
	width: 100%;
	height: 100vh;
	position: absolute;
	display: none;
}
.shoppingCar.popup .bgCon{
	display: block;
}
.shoppingCar .carCon{
	width: 64rem;
	background-color: #fff;
	position: absolute;
	top: 0;
	right: 0px;
	height: 100vh;
	padding: 3.7rem;
	transform: translateX(64rem);
	visibility: hidden;
}
.shoppingCar.popup .carCon{
	transform: translateX(0px);
	visibility: visible;
	transition: all 300ms;
}
.shoppingCar  .carCon .topCon{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.shoppingCar  .carCon .topCon .title{
	font-size: 1.6rem;
	font-family: PingFangSC-Semibold, PingFang SC;
	font-weight: 600;
	color: #333333;
	line-height: 2.2rem;
}
.shoppingCar  .carCon .topCon .deleteIcon{
	width: 2rem;
	height: 2rem;
	cursor: pointer;
}
.shoppingCar .carCon .topCon .deleteIcon img{
    width: 100%;
}
.shoppingCar .carCon .centerCon .table_header{
    border-bottom: 1px solid #333;
    line-height: 28px;
    height: 30px;
}
.shoppingCar  .carCon .centerCon{
	margin-top: 3.3rem;
}
.shoppingCar  .carCon .centerCon .table_body{
	max-height: 60vh;
	overflow: hidden;
	width: 100%;
	border-bottom: 1px solid #333;
}
.shoppingCar  .carCon .bottomCon{
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: fixed;
    width: 100%;
    z-index: -1;
    right:3.7rem;
}
.shoppingCar  .carCon .bottomCon .total{
	width: 100%;
	align-items: center;
	justify-content: end;
	display: flex;
	flex-wrap: wrap;
}
.shoppingCar  .carCon .bottomCon .total .price{
	font-weight: 700;
}
.shoppingCar  .carCon .bottomCon .total .totalNum{
	margin-right: 2.1rem;
	font-size: 1rem;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #333333;
    line-height: 21px;
}
.shoppingCar  .carCon .bottomCon .gotoPay{
	width: 17.6rem;
	height: 5.1rem;
	background: #364545;
	color: #fff;
	text-align: center;
	line-height: 5.1rem;
	cursor: pointer;
	margin-left: 2rem;
}
.shoppingCar  .carCon .bottomCon .cutPrice{
    height: 21px;
    font-size: 1rem;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #855A5B;
    line-height: 21px;
}
.shoppingCar  .carCon .bottomCon .cart_amount{
    height: 24px;
    font-size: 1.6rem;
    font-family: CamphorPro-Bold, CamphorPro;
    font-weight: bold;
    color: #855A5B;
    line-height: 24px;
}
.shoppingCar  .carCon .bottomCon .totalPrice{
    font-size: 1rem;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #333333;
    line-height: 21px;
    margin-right: 2rem;
    display: flex;
    align-items: center;
}


.shoppingCar .table_body .tableTr{
	display: flex;
	align-items: center;
}
.shoppingCar .table_body .tableTr.son_pro{
    background-color: #F4F4F4;
}
.shoppingCar .table_body .tableTr .cutprice{
    height: 15px;
    font-size: 1rem;
    font-family: CamphorPro-Regular, CamphorPro;
    font-weight: 400;
    color: #999999;
    line-height: 18px;
    text-decoration: line-through;
    margin-bottom: 0.5rem;
}
.shoppingCar .table_body .tableTr .tprice{
    font-size: 1rem;
    font-family: CamphorPro-Heavy, CamphorPro;
    font-weight: 800;
    color: #855A5B;
    line-height: 18px;
}
.shoppingCar .table_body .pro{
	display: flex;
	align-items: center;
}
.shoppingCar .table_body .pro .pro_info .pro_name{
	font-size: 1rem;
	font-weight: bold;
	overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}
.shoppingCar .table_body .pro .pro_info .part{
    background-color: #855A5B;
    display: inline-block;
    padding: 0.2rem;
    color: #fff;
    border-radius: 5px;
    font-size: 12px;
}
.shoppingCar .table_body .pro .pro_info .pro_props{
	color: #999999;
	font-size: 0.93rem;
}
.shoppingCar .table_body .pro_num{
	display: flex;
	align-items: center;
}
.shoppingCar .table_body .tableTr.son_pro .origin_price{
    font-size: 0.93rem;
    font-family: CamphorPro-Regular, CamphorPro;
    font-weight: 400;
    color: #999999;
}
.shoppingCar .table_body .tableTr.son_pro .origin_price .val{
    text-decoration: line-through;
    margin-left: 10px;
}
.shoppingCar .table_body .tableTr.son_pro .son_num{
    font-weight: bold;
    font-size: 1rem;
}
.shoppingCar .table_body .pro_num .num{
	margin-left: 1.33rem;
	margin-right: 1.33rem;
}
.shoppingCar .table_body .pro_num .icons{
	width: 1.6rem;
	height: 1.6rem;
	cursor: pointer;
}
.shoppingCar .table_body .pro_num .icons img{
    width: 100%;
}
.shoppingCar .table_body .pro_img{
	width: 8rem;
	height: 8rem;
	padding: 1rem;
}
.shoppingCar .table_body .pro_info{
    width: 80%;
}

.shoppingCar .table_body .icons{
	width: 0.8rem;
	height: 0.8rem;
}
.shoppingCar .table_body .deleteicon{
	width: 1.6rem;
	height: 1.6rem;
	cursor: pointer;
}
.shoppingCar .pro_img img{
    width: 100%;
}

.shoppingCar .nogoods{
     text-align: center;   
}

.shoppingCar .nogoodsImg{
    margin-top: 6.67rem;
}
.shoppingCar .nogoods .nogoodsTxt{
    margin-top: 4.5rem;
    font-size: 1.2rem;
    font-family: PingFangSC-Semibold, PingFang SC;
    font-weight: bold;
    color: #364545;
    line-height: 1.67rem;
}
.shoppingCar .nogoods .tips{
    font-size: 1rem;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #999999;
    line-height: 1.4rem;
    margin-top: 1.27rem;
}
.shoppingCar .nogoods .knowBtn{
    height: 5.1rem;
    background: #364545;
    line-height: 5.1rem;
    text-align: center;
    color: #fff;
    width: 24.3rem;
    margin: 4.6rem auto;
    cursor: pointer;
}
.shoppingCar .table_body  .cart_goods_deleteicon{
    width: 1.6rem;
    height: 1.6rem;
}
.shoppingCar .table_body  .cart_goods_deleteicon img{
    width: 100%;
}
.chooseall{
    width: 100%;
    margin-top: 2.26rem;
}
.chooseall label{
    font-weight: 400;
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: rgb(47 56 56);
}
.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
	.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{
		background-color: rgb(47 56 56);
		filter: "alpha(opacity=90)"; -ms-filter: "alpha(opacity=90)"; 
	}

@media(max-width: 992px){
    .shoppingCar .carCon{
        width: 100%;
        padding: 1%;
    }
    
    .shoppingCar .carCon .bottomCon{
        right:0;
        padding: 1%;
    }
    .shoppingCar .carCon .bottomCon .gotoPay{
        margin-left: 0px;
        width: 100%;
    }
    .width1920 {
        margin: 0px 5%;
    }
    .article_list {
        padding: 4rem 10px;
    }
    .article_list .article_item:not(:first-child){
        margin-top: 1rem;
    }
    .block_con4{
        margin-top: 2.3rem;
    }
    
}

