:root{
	--error-color:#F47677;
}
.goodsInfo .title{
	font-family: PingFangSC, PingFang SC;
	font-weight: 400;
	font-size: 16px;
	color: #3B4656;
	line-height: 22px;
	text-align: left;
	font-style: normal;
}
.goodsInfo .bodyInform{
	border-top: 1px solid #F0F0F0;
	margin-top: 16px;
}
.goodsInfo .bodyInform .elems{
	margin-top: 23px;
}
.elems .label{
	display: flex;
	align-items: center;
	color: #333;
}
.elems .tips{
	font-weight: 400;
	font-size: 14px;
	margin-top: 14px;
	color: #9FA0A1;
}
.formEle .inputEle{
	max-width: 491px;
	height: 36px;
	line-height: 36px;
	border-radius: 2px;
	border: 1px solid #DCDEE0;
	position: relative;
	display: flex;
	align-items: center;
	box-sizing: border-box;
}
.formEle .textareaEle{
	min-height: 108px;
	max-width: 491px;
	background: #FFFFFF;
	border-radius: 2px;
	border: 1px solid #DCDEE0;
}
.formEle .textareaEle textarea{
	width: 100%;
	height: 100%;
	resize: none;
	outline: none;
	border: 0;
	padding: 16px;
	box-sizing: border-box;
}
.inputEle.disabled{
	background: #F7F8FA;
}
.formEle{
	margin-top: 12px;
}
.formEle .inputEle input{
	border: 0;
	width: 100%;
	height: 100%;
	padding: 0 16px;
	background-color: transparent;
	outline: none;
}
input:disabled{
	color: #C9CACC;
}
.formEle .inputEle .iconEdit{
	margin-right: 16px;
	color: #2364D7;
	font-weight: bold;
}
.red{
	color: var(--error-color)!important;
}
.red-border{
	border:1px solid var(--error-color)!important;
}
.hide{
	display: none;
}

.information_groups{
	display: flex;
	flex-wrap: wrap;
	background-color: #F7F8FA;
	padding: 16px;
	gap: 24px;
	max-width: 1038px;
}
.information_groups .inputEle{
	margin-top: 8px;
	background-color: #fff;
}
.attr_groups{
	display: flex;
	flex-wrap: wrap;
	background-color: #F7F8FA;
	padding: 16px;
	margin-top: 13px;
	padding-bottom: 24px;
	max-width: 763px;
	box-sizing: border-box;
}
.attr_groups .attr_infor{
	width: 100%;
}
.selectEle{
	display: flex;
	background-color: #fff;
	padding: 3px 8px;
	max-height:36px;
	border-radius: 2px;
	border: 1px solid #DCDEE0;
	justify-content: space-between;
	align-items: center;
	border-radius: 2px;
	font-size: 14px;
	box-sizing: border-box;
	flex: 1;
}
.selectEle .chosen_attr{
	display: flex;
	align-items: center;
	gap: 8px;
}
.selectEle .chosen_attr .attr_txt{
	background-color: #F4F4F4;
	display: flex;
	padding: 5px;
	align-items: center;
	gap: 5px;
	color: #737579;
}
.selectEle .chosen_attr .attr_txt .icon-guanbi{
	color: #000;
	font-size: 12px;
	cursor: pointer;
}
.select_icon{
	color: #D8D8D8;
}
.addLine{
	padding: 0 10px;
	border: 1px solid #CCCCCC;
	height: 33px;
	line-height: 33px;
	box-sizing: border-box;
	width: fit-content;
	margin-top: 8px;
	background-color: #fff;
	border-radius: 4px;
	color: #737579;
	cursor: pointer;
	display: inline-block;
}
.exter_attr{
	background-color: #fff;
	padding: 8px;
	margin-top: 8px;
}
.exter_attr table{
	width: 100%;
	border-collapse: collapse;
}
.exter_attr table tr th{
	height: 28px;
	line-height: 28px;
	background-color: #FAFAFA;
	color: #737579;
	font-size: 12px;
}
.exter_attr_table table .selectEle{
	padding: 0 8px;
	margin-top: 0;
}
.selectEle .removeItem{
	color: #165BD5;
	cursor: pointer;
}
.exter_attr_table table .selectEle .attr_txt{
	height: 30px;
	line-height: 30px;
	box-sizing: border-box;
}
.exter_attr_table table .inputEle{
	margin: 8px auto;
	background-color: #fff;
}
.exter_attr_table table .delete{
	text-align: center;
	color: #165BD5;
	font-size: 12px;
	cursor: pointer;
}
.exter_attr_table table tr{
	border-bottom: 1px solid #F0F0F0;
}
.attr_groups .main_attr_info{
	width: 100%;
}
.attr_groups .main_attr_info .main_attr_select1{
	width: 200px;
	margin: 8px;
}
.attr_groups .main_attr_info .main_attr_select2{
	width: 400px;
	margin: 8px;
}
.main_attr_pic .attr_groups{
	width: 100%;
	max-width: 100%;
}
.main_attr_pic .attr_groups .attr_infor{
	width: 100%;
}
.main_attr_info_pic .exter_attr{
	background-color: transparent;
}
.main_attr_info_pic .exter_attr table tr th{
	background-color: #fff;
}
.attr_pic_groups{
	display: flex;
	gap: 8px;
	margin: 12px 0;
	flex-wrap: wrap;
}
.attr_pic_items{
	width: 80px;
	height: 80px;
	background: #FFFFFF;
	border-radius: 4px;
	border: 1px solid #DCDEE0;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #969799;
	border-style: dashed;
	cursor: pointer;
}
.attr_pic_items .zhutu_icon{
	width: 36px;
	height: 18px;
	background: #165BD5;
	border-radius: 0px 0px 9px 0px;
	position: absolute;
	top: 0;
	left: 0;
	color: #fff;
	font-size: 14px;
}
.attr_pic_items .delete_icon{
	width: 22px;
	height: 22px;
	background: #000000;
	border-radius: 10px 0px 0px 0px;
	opacity: 0.7;
	position: absolute;
	bottom: 0;
	right: 0;
	color: #fff;
	text-align: center;
}
.attr_pic_items img{
	width: 100%;
}
.upload_csv_con{
	display: flex;
	gap: 16px;
	margin-top: 8px;
}
.upload_csv_con .btn{
	height: 33px;
	line-height: 33px;
	text-align: center;
	border-radius: 4px;
	border: 1px solid #CCCCCC;
	padding: 0 16px;
	font-size: 12px;
	color: #737579;
	cursor: pointer;
}
.stockInput{
	width: 140px;
	height: 30px;
	background: #FFFFFF;
	border-radius: 2px;
	border: 1px solid #DCDEE0;
	outline: none;
	padding: 0 8px;
}
.main_attr_info_stock .exter_attr table tr th{
	background-color: #fff;
}
.main_attr_info_stock  .exter_attr_table table tr{
	border: 0px;
	background-color: #F7F8FA;
}
.main_attr_info_stock  .exter_attr_table .stockInput{
		margin: 16px 0;
}
.step_btn{
	width: 142px;
	height: 38px;
	line-height: 38px;
	text-align: center;
	background: #ffffff;
	border-radius: 6px;
	margin: auto 0;
	cursor: pointer;
	border: 1px solid #CCCCCC;
}
.submitBtns{
	display: flex;
	justify-content: center;
	height: 60px;
	line-height: 60px;
	position: sticky;
	bottom: 0;
	width: 100%;
	z-index: 99;
	gap: 32px;
	background-color: #fff;
	left: 0px;
	border-top: 1px solid #ccc;
}
.step_btn.nex_step_btn{
	background-color: #1D1D1D;
	color: #fff;
}

.upload_csv{
	width: 491px;
	height: 36px;
	line-height: 36px;
	padding: 0 16px;
	background: #FFFFFF;
	border-radius: 2px;
	border: 1px solid #DCDEE0;
	cursor: pointer;
	border-style: dashed;
}
.csv_upanddown{
	display: flex;
	align-items: center;
	gap: 17px;
	margin-top: 12px;
}
.download_csv{
	color: #165BD5;
	cursor: pointer;
}
.attr_groups .multi_wu_select{
    width: calc(50% - 12px);
}
.multi_wu_select .wuSelect{
    display: flex;
    background-color: #fff;
    padding: 0px 8px;
    min-height: 36px;
    border: 1px solid #DCDEE0;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
    margin-bottom: 8px;
    border-radius: 2px;
    font-size: 14px;
    box-sizing: border-box;
    position: relative;
}
.exter_attr_table tr td{
	padding: 8px;
}
.multi_wu_select .wuSelect .multi{
    display: flex;
    min-height: 36px;
    width: 100%;
    gap: 8px;
    flex-wrap: wrap;
}
.multi_wu_select .wuSelect .multi div{
    background-color: #F4F4F4;
    display: flex;
    padding: 5px;
    align-items: center;
    gap: 5px;
    color: #737579;
}
.multi_wu_select .wuSelect .ps-container{
    position: absolute;
    width: 100%;
    left: 0;
    top: 100%;
    z-index: 999;
    height: 200px;
    background-color: #fff;
    overflow: hidden;
    border: 1px solid #DCDEE0;
}
.multi_wu_select .wuSelect .ps-container li a{
    color: #333;
    line-height: 28px;
    text-decoration: none;
    display: block;
    width: 100%;
    padding: 0 8px;
    margin-top: 5px;
}
.multi_wu_select .wuSelect .ps-container li a:hover{
    background: #f4f4f4;
}
.multi_wu_select .wuSelect .ps-container li a.selected{
    background: #f4f4f4;
    color: #22cbdd;
}

.radio-groups .radio_item{
	margin-top: 16px;
}
.radio-groups .radio_item label{
	margin-left: 8px;
}
.select_baoxian_date{
	margin-top: 8px;
	display: flex;
	align-items: center;
}
.select_baoxian_date .baoxian_date{
	line-height: 30px;
	background: #FFFFFF;
	border-radius: 2px;
	border: 1px solid #DCDEE0;
	box-sizing: border-box;
	margin-left: 22px;
	width: 114px;
}
.select_baoxian_date .baoxian_date input{
	border: 0;
	outline: none;
	width: 100%;
	height: 100%;
	padding: 0 16px;
	box-sizing: border-box;
	color: #DCDEE0;
}
 input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.select_baoxian_date .prepend{
	line-height: 30px;
	background: #FFFFFF;
	border-radius: 2px;
	border: 1px solid #DCDEE0;
	width: 102px;
	display: flex;
	align-items: center;
	gap:10px;
	justify-content: center;
}
.select_baoxian_date .prepend .iconfont{
	color: #DCDEE0;
}
.getrecommendCates,.choseCates{
	font-size: 14px;
	color: #165BD5;
	line-height: 20px;
	cursor: pointer;
}
.goodsmiaosu .formEle .inputEle{
	width: 100%;
	max-width: 100%;
	background-color: #fff;
}
.goodsmiaosu .formEle .inputEle.disabled{
	background-color: #F7F8FA;
}
.goodsmiaosu .attr_infor label{
	font-weight: 400;
	font-size: 14px;
	color: #333333;
}
.addTrademarkCertificate{
	width: 224px;
	height: 36px;
	background: #FFFFFF;
	border-radius: 2px;
	border: 1px solid #DCDEE0;
	font-size: 14px;
	color: #737579;
	text-align: center;
	line-height: 36px;
	box-sizing: border-box;
	cursor: pointer;
}
.add_product_td{
	width: 224px;
	height: 36px;
	background: #FFFFFF;
	border-radius: 2px;
	border: 1px solid #DCDEE0;
	text-align: center;
	line-height: 36px;
	font-size: 14px;
	color: #737579;
	margin-top: 12px;
	cursor: pointer;
	box-sizing: border-box;
}
.attr_pic_items{
	width: 108px;
	height: 108px;
}
.upload_tips{
	font-size: 14px;
	color: #9FA0A1;
	display: flex;
	flex-direction: column;
	row-gap: 8px;
}
#attrgroups{
	border-radius: 2px;
	display: grid;
	max-width: 1038px;
}
#attrgroups .attrItem{
	margin-top: 24px;
}
#attrgroups .attrVal{
	width: 100%;
	min-height: 36px;
	background: #FFFFFF;
	border-radius: 2px;
	border: 1px solid #DCDEE0;
	box-sizing: border-box;
	margin-top: 8px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
	padding: 0 16px;
}
#attrgroups .attrVal .icons{
	color: #DCDEE0;
}
#attrgroups .attrVal .attr_val_input{
	width: 100%;
	height: 100%;
	background-color: transparent;
	outline: none;
	border: 0;
}
#attrgroups .attrVal .attrVal_dropList{
	position: absolute;
	width: 100%;
	height: fit-content;
	background-color: #fff;
	z-index: 99;
	top: 40px;
	left: 0;
	padding: 16px;
    box-sizing: border-box;
	border: 1px solid #DCDEE0;
	display: none;
}
#attrgroups .attrVal .attrVal_dropList ul{
	max-height: 200px;
	overflow: hidden;
	position: relative;
}

.attrVal_dropList li{
	display: flex;
	align-items: center;
	height: 32px;
	line-height: 32px;
	gap: 8px;
	font-size: 14px;
}
.attrVal_dropList li label{
	display: -webkit-box; /* 作为弹性伸缩盒子模型显示 */
	-webkit-line-clamp: 1; /* 限制在3行 */
	-webkit-box-orient: vertical; /* 垂直排列盒子 */
	overflow: hidden; /* 隐藏溢出的内容 */
	text-overflow: ellipsis; /* 多行时显示省略号 */
	white-space: normal; /* 使用正常的白空格处理方式，允许换行 */
	flex: 1;
}
.zdy_attr{
	display: flex;
	gap: 8px;
	align-items: center;
}
.zdy_attr .inputEle{
	flex: 1;
}
.zdy_attr .enter_attr_btn{
	width: 85px;
	height: 36px;
	line-height: 36px;
	background: #343434;
	border-radius: 2px;
	color: #fff;
	text-align: center;
	cursor: pointer;
}
.multi_select{
	display: flex;
	gap: 8px;
	flex-wrap: wrap;
}
.multi_select .selected_val{
	display: flex;
	align-items: center;
	background: #F4F4F4;
	color: #737579;
	gap: 8px;
	padding: 0 4px;
}
.multi_select .icon-guanbi{
	font-size: 10px;
	cursor: pointer;
}
.materal_table{
	background: #F7F8FA;
	border-radius: 2px;
	max-width: 763px;
	width: 100%;
	padding: 12px;
	box-sizing: border-box;
	margin-top: 9px;
}
.materal_table .tableHead{
	background-color: #fff;
	max-width: 739px;
	width: 100%;
	height: 36px;
	line-height: 36px;
}
.materal_table .tableHead .tableRow{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	font-size: 14px;
	color: #737579;
}
.materal_table .tableHead .tableRow .td,.materal_table .tableBody .tableRow .td{
	padding: 0 24px;
}
.materal_table .tableBody {
	border-bottom: 1px solid #F0F0F0;
}
.materal_table .tableBody .noData{
	min-height: 62px;
	text-align: center;
	font-size: 14px;
	color: #737579;
	line-height: 62px;
	height: 62;
}
.materal_table .tableBody .tableRow{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	font-size: 14px;
	padding: 16px 0;
}
.materal_table .tableBody .tableRow .eleInput{
	width: 140px;
	height: 30px;
	background: #FFFFFF;
	border-radius: 2px;
	border: 1px solid #DCDEE0;
	display: inline-flex;
	align-items: center;
	padding: 0 8px;
}
.materal_table .tableBody .tableRow .eleInput input{
	background: transparent;
	width: 100%;
	flex: 1;
	outline: none;
	border: 0;
}
.materal_table .tableBody .tableRow .rate{
	font-size: 14px;
	color: #737579;
}
.materal_table .tableBody .tableRow .deleteMateral{
	font-size: 14px;
	color: #165BD5;
	height: 30px;
	line-height: 30px;
	cursor: pointer;
}
.materal_table .tableFoot{
	margin-top: 24px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	align-items: center;
} 
.materal_table .tableFoot .addMateral{
	width: 96px;
	height: 33px;
	background: #FFFFFF;
	border-radius: 4px;
	border: 1px solid #CCCCCC;
	line-height: 33px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #737579;
	cursor: pointer;
	margin-left: 24px;
}
.materal_table .tableFoot .zongji{
	font-size: 12px;
	color: #737579;
	margin-left: 32px;
}
.uploadImgs .upload_icon{
	color: #616468;
}
.uploadImgs .upload_txt{
	font-size: 14px;
	color: #616468;
}
.uploadImgs .upload_files{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	cursor: pointer;
}
.uploadVideo{
	max-width: 491px;
	height: 36px;
	line-height: 36px;
	background: #FFFFFF;
	border-radius: 2px;
	border: 1px dashed #DCDEE0;
	position: relative;
	box-sizing: border-box;
	display: flex;
	gap: 4px;
	font-size: 14px;
	padding: 0 16px;
	cursor: pointer;
}
.sale_props_list{
	max-width: 763px;
	width: 100%;
	background: #F7F8FA;
	border-radius: 2px;
	padding: 16px;
	color: #333333;
}
.sale_props_list .select_sale_props .sale_props_content{
	margin-top: 16px;
	display: flex;
	column-gap: 48px;
	row-gap: 16px;
	align-items: center;
	flex-wrap: wrap;
}
.sale_props_list .select_sale_props .sale_props_content .sale_props_item{
	display: flex;
	gap: 8px;
	align-items: center;
}
.salePropsList .salePropsItem{
	margin-top: 8px;
}
.salePropsList .chosen_sale_val{
	display: flex;
	align-items: center;
	margin-top: 8px;
	gap: 14px;
}
.salePropsList .chosen_sale_val .chosen_sale_val_input{
	height: 36px;
	background: #FFFFFF;
	border-radius: 2px;
	border: 1px solid #DCDEE0;
	flex: 1;
	line-height: 36px;
	box-sizing: border-box;
}
.salePropsList .chosen_sale_val .add_sale_val{
	width: 224px;
	height: 36px;
	background: #FFFFFF;
	border-radius: 2px;
	border: 1px solid #DCDEE0;
	text-align: center;
	line-height: 36px;
	cursor: pointer;
	color: #737579;
}
.salePropsList .chosen_sale_val .chosen_sale_val_input input{
	background: transparent;
	border: 0;
	outline: none;
	padding: 0 12px;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}
.salePropsList .chosen_sale_show{
	margin-top: 14px;
	font-size: 14px;
	color: #9FA0A1;
	display: flex;
	gap: 4px;
}
.salePropsList .chosen_sale_show_list{
	display: flex;
	align-items: center;
}
.salePropsList .chosen_sale_show_list .chosen_sale_attr{
	background-color: #fff;
	height: 24px;
	padding: 0 4px;
	display: flex;
	align-items: center;
	gap: 4px;
}
.salePropsList .chosen_sale_show_list .chosen_sale_attr .icon-guanbi{
	font-size: 8px;
	cursor: pointer;
}
.turnRight{
	display: inline-block;
	color: #F47677;
	transform: rotate(-90deg);
}
.btn_SKU_groups{
	display: flex;
	align-items: center;
	gap: 24px;
	margin-top: 17px;
}
.btn_SKU_groups .delete_SKU{
	width: 224px;
	height: 36px;
	font-size: 14px;
	color: #737579;
	text-align: center;
	line-height: 36px;
	background: #FFFFFF;
	border-radius: 2px;
	border: 1px solid #DCDEE0;
	cursor: pointer;
}
.sku_tips{
	margin-top: 16px;
}
.sku_tips label{
	font-size: 14px;
	color: #333333;
	margin-left: 8px;
}
.safeAndRule .select_icons{
	color: #D8D8D8;
}
.submitBtns{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 60px;
	background: #FFFFFF;
	gap: 32px;
}
.submitBtns .preStep{
	height: 38px;
	line-height: 38px;
	background: #FFFFFF;
	border-radius: 6px;
	border: 1px solid #CCCCCC;
	text-align: center;
	padding: 0 24px;
	cursor: pointer;
}
.submitBtns .nextStep{
	height: 38px;
	line-height: 38px;
	background: #1D1D1D;
	border-radius: 6px;
	border: 1px solid #CCCCCC;
	text-align: center;
	padding: 0 24px;
	color: #fff;
	cursor: pointer;
}

.sku_table thead{
	height: 36px;
	background: #FFFFFF;
}
.sku_table{
	width: 100%;
	overflow: scroll hidden;
}
table {
	table-layout: fixed;
	width: 100%;
	border-collapse: separate;
	border-spacing: 0;
}
.sku_table th {
	height: 36px;
	font-size: 14px;
	color: #737579;
	text-align: left;
	padding: 0 16px;
}
.sku_table td{
	min-width: 150px;
	box-sizing: border-box;
	/*超出长度...*/
	white-space: wrap;
	height: 80px;
	padding: 0 16px;
}
.sku_table th:last-child,.sku_table td:last-child{
	position: sticky;
	left: 0;
	background: #F4F4F5;
	text-align: center;
	right: 0px;
	border-left: 1px solid #DDDDDD ;
	width: 159px;
}
.sku_table th:last-child{
	background-color: #fff;
}
.applySet{
	font-size: 14px;
	color: #F42F54;
}
.deleteSku{
	color: #165BD5;
}
.add_package_list{
	width: 96px;
	height: 33px;
	background: #FFFFFF;
	border-radius: 4px;
	border: 1px solid #CCCCCC;
	line-height: 33px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #737579;
	cursor: pointer;
	margin-left: 24px;
}
.add_sku_images .attr_pic_items{
	width: 80px;
	height: 80px;
}
.select_options{
	outline: none;
	border: 0;
	height: 100%;
	width: 50px;
	padding: 0 10px;
	box-sizing: content-box;
	border-right: 1px solid #DCDEE0;
}
.add_sku_pic{
	font-weight: 400;
	font-size: 14px;
	color: #165BD5;
	cursor: pointer;
}