.pro_infor .formEle{
	display: flex;
	flex-wrap: wrap;
	column-gap:60px;
	row-gap: 16px;
}
.attr_groups{
    background-color:#fff;
	max-width: 100%;
	width: 100%;
	padding: 0;
	justify-content: space-between;
}
.attr_groups .attr_infor{
	width: calc(33% - 24px);
}
.formEle .inputEle{
	width: 400px;
}
.order_search .selectEle{
	width: 400px;
}
.submit_con{
	margin: 74px;
	display: flex;
	justify-content: center;
	gap: 32px;
}
.submit_con .btn{
	width: 142px;
	height: 38px;
	background: #FFFFFF;
	border-radius: 6px;
	line-height: 38px;
	text-align: center;
	cursor: pointer;
	padding: 0;
}
.submit_con .btn.reset_btn{
	border: 1px solid #CCCCCC;
}
.submit_con .btn.search_btn{
	background-color: #1D1D1D;
	color: #fff;
}
.orderForm{
	display: flex;
	flex-wrap: wrap;
	column-gap: 64px;
	width: 80%;
}
.textareaEle{
	width: 400px;
}
.submitBtns{
	border-top: 0;
	padding: 50px 0;
	position: relative;
}
.order_summry{
	display: flex;
	gap:16px;
	align-items: center;
}
.order_summry .order_sum_item{
	padding: 24px;
	font-weight: 400;
	font-size: 16px;
	color: #666666;
	background-color: #fff;
}
.order_summry .order_sum_item .val{
	margin-top: 16px;
}
.order_summry .order_sum_item img{
	width: 100%;
}
.pre_currency,.last_currency{
	font-size: 14px;
	color: #333;
}
.order_sum_item .val .number{
	font-size: 32px;
	color: #333;
	font-weight: bold;
}
.filter_query{
	display: flex;
	justify-content: space-between;
}
.filter_query .time_query{
	display: flex;
	align-items: center;
	gap: 10px;
}
.filter_query .time_query input[type='submit']{
	height: 38px;
	padding: 0 8px;
	background: #1D1D1D;
	color: #fff;
	border-radius: 8px;
	border: 0px;
	outline: none;
}

.time_query .inputEle{
	display: flex;
	align-items: center;
	width: 280px;
	height: 38px;
	border-radius: 6px;
	border: 1px solid #CCCCCC;
	padding: 0 16px;
}
.time_query .inputEle input{
	outline: none;
	border: 0;
	padding: 0;
	margin: 0;
}
.trow td{
	padding: 10px;
	box-sizing: border-box;
}
.flex-column{
	flex-direction: column;
	align-items: flex-start!important;
	gap: 12px;
	display: flex;
}
.filter_group{
	display: flex;
	align-items: center;
	gap: 8px;
}
.youxiao_value{
	font-family: CamphorPro, CamphorPro;
	font-weight: 800;
	font-size: 24px;
	color: #F47677;
	margin-left: 10px;
}